<h1 style="display: inline;">Snippets</h1>
<button class="btn" style="margin: -10px 0 0 10px">New Snippet</button>
<form class="form-search" style="margin: 10px 0 0 0">
  <input type="text" class="input-xxlarge search-query" placeholder="Search for snippets">
  <button type="submit" class="btn">Go</button>
</form>


<h3>Recent Snippets</h3>
