<form class="form-search" style="margin: 10px 0 0 0" method="get" action="search">
  <input type="text" class="input-xxlarge search-query" name='snippets' placeholder="Search for snippets">
  <button type="submit" class="btn">Go</button>
</form>