/* Globals */
.inline {display: inline;}
h3 {color: #BCBCBC;}
#main-heading {color: #424242;}
#new-button {margin: -10px 0 0 10px;}



/* #New */
.form-actions {
  background-color: #fff;
  border-top: none;
}

form#snippet-form {
  margin-top: 20px;
}

textarea {
  width: 500px;
  height: 500px;
}

h1#new-snippet-heading {
  display: inline;
  margin-left: 157px;
}


